<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SHE"
        tools:targetApi="31">
        <activity
            android:name=".otherui.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".otherui.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatWindow"
            android:exported="false" />
        <activity
            android:name=".chat.ChatsHome"
            android:exported="false" />
        <activity
            android:name=".otherui.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".otherui.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gpt.ChatLaytoutGPT"
            android:exported="false" />
        <activity
            android:name=".contact.UpdateContact"
            android:exported="false" />
        <activity
            android:name=".contact.ContactsDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".otherui.HelplineActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAmarxKRNs4lJ6CoAftVyYaXxN4qHY6aHw" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".map.MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".contact.AddContact"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".otherui.MainActivity"
            android:exported="true" />

        <service android:name=".myservices.GPS_Service" />
        <service android:name=".myservices.MyAccelerometerService" />
    </application>

</manifest>